[DEFAULT]


# ====SCHEDULER====
scheduler_driver=nova.scheduler.multi.MultiScheduler
compute_scheduler_driver=nova.scheduler.filter_scheduler.FilterScheduler
volume_scheduler_driver=nova.scheduler.chance.ChanceScheduler
default_scheduler_driver=nova.scheduler.chance.ChanceScheduler

# ====DATABASE====
sql_connection=mysql://nova:%MYSQL_NOVA_PASS%@%MYSQL_HOST%/nova

# ====nova-compute====
#libvirt_type=qemu
libvirt_type=kvm
#connection_type=libvirt
firewall_driver=nova.virt.libvirt.firewall.IptablesFirewallDriver
compute_driver=nova.virt.libvirt.LibvirtDriver
instance_name_template=instance-%08x
#instances_path = /opt/data/nova/instances
state_path=/var/lib/nova
lock_path=/var/lock/nova
api_paste_config=/etc/nova/api-paste.ini
allow_resize_to_same_host=True
start_guests_on_host_boot=false
resume_guests_state_on_host_boot=true
snapshot_image_format=qcow2
force_raw_images=true
libvirt_images_type=default
use_cow_images=true
libvirt_inject_password=false
libvirt_inject_partition=2

# ====nova-api====
#enabled_apis=osapi_compute,osapi_volume
enabled_apis=osapi_compute
auth_strategy=keystone
osapi_compute_extension=nova.api.openstack.compute.contrib.standard_extensions
allow_admin_api=true
ec2_dmz_host=%CONTROLLER_IP%
s3_host=%CONTROLLER_IP%
cc_host=%CONTROLLER_IP%

# ====cinder====
volume_api_class=nova.volume.cinder.API
#iscsi_ip_prefix=iqn.2012-01.centrin:
#iscsi_target_prefix=iqn.2012-01.centrin:
#num_targets=100
#iscsi_helper=tgtadm
#ec2_url=http://10.42.0.6:8773/services/Cloud
#keystone_ec2_url=http://10.42.0.6:5000/v2.0/ec2tokens

# ====RABBITMQ====
rabbit_host=%RABBITMQ_IP%
#rabbit_password=yourpassword

# ====GLANCE====
image_service=nova.image.glance.GlanceImageService
glance_api_servers=%GLANCE_IP%:9292

###### nova-network
network_api_class=nova.network.quantumv2.api.API
quantum_url=http://%CONTROLLER_IP%:9696
quantum_auth_strategy=keystone
quantum_admin_tenant_name=%SERVICE_TENANT_NAME%
quantum_admin_username=quantum
quantum_admin_password=%SERVICE_PASSWORD%
quantum_admin_auth_url=http://%KEYSTONE_IP%:35357/v2.0
libvirt_vif_driver=nova.virt.libvirt.vif.LibvirtHybridOVSBridgeDriver
linuxnet_interface_driver=nova.network.linux_net.LinuxOVSInterfaceDriver
firewall_driver=nova.virt.libvirt.firewall.IptablesFirewallDriver

my_ip=%COMPUTE_IP%

# ====NOVNC CONSOLE====
novnc_enabled=true
novncproxy_base_url= http://%CONTROLLER_IP_PUB%:6080/vnc_auto.html
vncserver_proxyclient_address=%COMPUTE_IP%
#vncserver_listen=%COMPUTE_IP%
vncserver_listen=0.0.0.0

# ====LOGS/STATE====
verbose=True
logdir=/var/log/nova
#logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s ^[[01;35m%(instance)s^[[00m
#logging_debug_format_suffix = ^[[00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d^[[00m
#logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [^[[00;36m-%(color)s] ^[[01;35m%(instance)s%(color)s%(message)s^[[00m
#logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [^[[01;36m%(request_id)s ^[[00;36m%(user_id)s %(project_id)s%(color)s] ^[[01;35m%(instance)s%(color)s%(message)s^[[00m


# ====Mis====
#root_helper=sudo /root/openstack/nova-2012.2.3/.venv/bin/nova-rootwrap /root/openstack/nova-2012.2.3/etc/nova/rootwrap.conf
root_helper=sudo
rootwrap_config=/etc/nova/rootwrap.conf
#use_deprecated_auth=false
