[DEFAULT]
#iscsi_helper=ietadm
iscsi_helper=tgtadm
volume_name_template = volume-%s
volume_group = cinder-volumes
verbose = True
auth_strategy = keystone
iscsi_target_prefix=iqn.2012-01.centrin:
#osapi_volume_listen_port=5900

rabbit_host = %RABBITMQ_IP% 
#rabbit_password = myroot
rpc_backend = cinder.openstack.common.rpc.impl_kombu

state_path = /var/lib/cinder
osapi_volume_extension = cinder.api.openstack.volume.contrib.standard_extensions

root_helper = sudo /usr/bin/cinder-rootwrap /etc/cinder/rootwrap.conf
#rootwrap_config=/etc/cinder/rootwrap.conf

api_paste_config = /etc/cinder/api-paste.ini

sql_connection = mysql://cinder:%MYSQL_CINDER_PASS%@%MYSQL_HOST%/cinder
policy_file = /etc/cinder/policy.json
#sql_connection = mysql://root:myroot@192.168.200.7/cinder?charset=utf8
~                                  
#logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s ^[[01;35m%(instance)s^[[00m
#logging_debug_format_suffix = ^[[00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d^[[00m
#logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [^[[00;36m-%(color)s] ^[[01;35m%(instance)s%(color)s%(message)s^[[00m
#logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [^[[01;36m%(request_id)s ^[[00;36m%(user_id)s %(project_id)s%(color)s] ^[[01;35m%(instance)s%(color)s%(message)s^[[00m
